pipeline/DatabricskSalesLTTablesDeltaIngestion.json
{
	"name": "DatabricskSalesLTTablesDeltaIngestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'SalesLT';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/tanishjprof@gmail.com/delta-tables-notebook",
								"baseParameters": {
									"sqlServerInputSchema": {
										"value": "@item().TABLE_SCHEMA",
										"type": "Expression"
									},
									"sqlServerInputTable": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "dataIngestionNotebook1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"forEachArrayElement": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-10T17:24:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}