pipeline/DatabricksADFMultipleTablesIngestion.json
{
	"name": "DatabricksADFMultipleTablesIngestion",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tableNames')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "val",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/tanishjprof@gmail.com/data-ingestion-notebook-for-ADF",
								"baseParameters": {
									"sqlServerInputTable": {
										"value": "@variables('val')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "dataIngestionNotebook1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"tableNames": {
				"type": "Array",
				"defaultValue": [
					"empdata1",
					"empdata2",
					"empdata3"
				]
			},
			"val": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-10T14:06:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}