pipeline/logFileCreationUsingDataFlows.json
{
	"name": "logFileCreationUsingDataFlows",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameVar",
					"value": {
						"value": "@pipeline().parameters.fileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "logFile",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Data flow2",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{string('Success')}'",
											"type": "Expression"
										},
										"RunID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"fileName": {
											"value": "'@{variables('fileNameVar')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sink1": {
											"fileName": {
												"value": "@variables('fileNameVar')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{string('Success')}'",
											"type": "Expression"
										},
										"RunID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"fileName": {
											"value": "'@{variables('fileNameVar')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"logTextFileExisting": {
											"fileName": {
												"value": "@variables('fileNameVar')",
												"type": "Expression"
											}
										},
										"sink1": {
											"fileName": {
												"value": "@variables('fileNameVar')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "log_2023_07_16.txt"
			}
		},
		"variables": {
			"fileNameVar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-16T11:28:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}